In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
def dist(x,c):
  return np.sqrt(np.sum(((x-c)**2),axis=1))
def initialize_cent(X,K):
  centroids = np.zeros((K,X.shape[1]))
  for i in range(K):
    centroid = X[np.random.choice(range(X.shape[0]))]
    centroids[i] = centroid
  return centroids
def compute_distance(X,centroids,K):
  clusters = [[] for _ in range(K)]
  for idx,point in enumerate(X):
    closest_cent = np.argmin(dist(point,centroids))
    clusters[closest_cent].append(idx)
  #print(clusters)
  return clusters
def compute_cluster(X,clusters,K,centroids):
  for idx,cluster in enumerate(clusters):
    new_centroid = X[cluster].mean(axis = 0)
    centroids[idx] = new_centroid
  return centroids
def pred(clusters,X):
  ypred = np.zeros((X.shape[0],1))
  for idx,cluster in enumerate(clusters):
    for sample_idx in cluster:
      ypred[sample_idx] = idx
  return ypred
def KMean(X,K,no_iter):
  centroids = initialize_cent(X,K)
  clusters = [[] for _ in range(K)]
  for i in range(no_iter):
    clusters = compute_distance(X,centroids,K)
    centroids = compute_cluster(X,clusters,K,centroids)
  return clusters,centroids
def test(x,clusters):
  ytest = pred(clusters,x)
  return ytest

In [ ]:
dftest = pd.read_csv('emnist-letters-test.csv')
dftest1 = pd.read_csv('emnist-letters-test.csv')
dftest1.drop(columns = ['1'],inplace = True)

In [ ]:
x = []
for i in range(14799):
  a = dftest1.loc[i]
  x.append(a)
x = np.array(x)

In [ ]:
clust,cent = KMean(x,26,10000)

In [ ]:
s=pred(clust,x)
dfout = pd.DataFrame(s)
dfout

          0
0       4.0
1      13.0
2      22.0
3       3.0
4      15.0
...     ...
14794  13.0
14795  16.0
14796  22.0
14797  23.0
14798   5.0

[14799 rows x 1 columns]