In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
def dist(x,c):
  return np.sqrt(np.sum(((x-c)**2),axis=1))
def Euclidean_Dist(x,X):
  return np.sqrt(np.sum((x - X)**2))
def initialize_cent(X,K):
  centroids = np.zeros((K,X.shape[1]))
  for i in range(K):
    centroid = X[np.random.choice(range(X.shape[0]))]
    centroids[i] = centroid
  return centroids
def compute_distance(X,centroids,K):
  clusters = [[] for _ in range(K)]
  for idx,point in enumerate(X):
    closest_cent = np.argmin(dist(point,centroids))
    clusters[closest_cent].append(idx)
  #print(clusters)
  return clusters
def compute_cluster(X,clusters,K,centroids):
  for idx,cluster in enumerate(clusters):
    new_centroid = X[cluster].mean(axis = 0)
    centroids[idx] = new_centroid
  return centroids
def pred(clusters,X):
  ypred = np.zeros((X.shape[0],1))
  for idx,cluster in enumerate(clusters):
    for sample_idx in cluster:
      ypred[sample_idx] = idx
  return ypred
def KMean(X,K,no_iter):
  centroids = initialize_cent(X,K)
  clusters = [[] for _ in range(K)]
  for i in range(no_iter):
    clusters = compute_distance(X,centroids,K)
    centroids = compute_cluster(X,clusters,K,centroids)
    if i%(no_iter/10)==0:
      print(i,"iterations Done!")
  return clusters,centroids
def test(x,clusters):
  ytest = pred(clusters,x)
  return ytest

In [ ]:
def KNN(X,y,x,K):
  m = X.shape[1]
  val = []
  for i in range(m):
    dist1 = Euclidean_Dist(x,X[i])
    val.append((dist1,y[i]))
  val = sorted(val,key = lambda x:x[0])[:K]
  val = np.array(val)
  new_val = np.unique(val[:,1],return_counts= True)
  index = new_val[1].argmax()
  output = new_val[0][index]
  return output

In [ ]:
dftest = pd.read_csv('emnist-letters-test.csv')
dftest1 = pd.read_csv('emnist-letters-test.csv')
dftest1.drop(columns = ['1'],inplace = True)
dftrain = pd.read_csv('emnist-letters-train.csv')
dftrain1 = pd.read_csv('emnist-letters-train.csv')
dftrain1.drop(columns=['23'],inplace = True)

In [ ]:
x = []
for i in range(14799):
  a = dftest1.loc[i]
  x.append(a)
x = np.array(x)
ytest = np.array(dftest['1'])
X = []
for i in range(14799):
  a = dftrain1.loc[i]
  X.append(a)
X = np.array(X)
y = np.array(dftrain['23'])
y

array([ 7, 16, 15, ...,  7,  5,  2])

In [ ]:
clust,cent = KMean(x,26,10000)

0 iterations Done!
1000 iterations Done!
2000 iterations Done!
3000 iterations Done!
4000 iterations Done!
5000 iterations Done!
6000 iterations Done!
7000 iterations Done!
8000 iterations Done!
9000 iterations Done!

In [ ]:
outs = []
for x_row in cent:
  output = KNN(X,y,x_row,8)
  outs.append(output)
outs

[7.0,
 3.0,
 12.0,
 9.0,
 18.0,
 16.0,
 3.0,
 9.0,
 15.0,
 19.0,
 8.0,
 8.0,
 18.0,
 13.0,
 4.0,
 3.0,
 6.0,
 14.0,
 11.0,
 15.0,
 6.0,
 2.0,
 9.0,
 4.0,
 3.0,
 13.0]

In [ ]:
ypred = np.zeros((X.shape[0],1))
for idx,cluster in enumerate(clust):
  for sample_idx in cluster:
    ypred[sample_idx] = outs[idx]
dfpred = pd.DataFrame(ypred)
dfpred

          0
0       6.0
1       3.0
2       3.0
3       7.0
4       6.0
...     ...
14794   9.0
14795   3.0
14796  19.0
14797   4.0
14798   9.0

[14799 rows x 1 columns]

In [ ]:
correct = 0
for i in range(x.shape[0]):
  if(ypred[i] == ytest[i]):
    correct += 1
(correct/14799)*100

37.77957970133117