In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#   x = query point
def Euclidean_Dist(x,X):
  return np.sqrt(np.sum((x - X)**2))

In [ ]:
def KNN(X,y,x,K):
  m = X.shape[1]
  val = []
  for i in range(m):
    dist = Euclidean_Dist(x,X[i])
    val.append((dist,y[i]))
  val = sorted(val,key = lambda x:x[0])[:K]
  val = np.array(val)
  new_val = np.unique(val[:,1],return_counts= True)
  index = new_val[1].argmax()
  output = new_val[0][index]
  return output

In [ ]:
df = pd.read_csv('emnist-letters-train.csv')
dftrain = pd.read_csv('emnist-letters-train.csv')
dftrain.drop(columns = ['23'],inplace = True)
dftest = pd.read_csv('emnist-letters-test.csv')
df1 = pd.read_csv('emnist-letters-test.csv')
df1 = df1.drop(columns = ['1'])
X =[]
for i in range(88799):
  X.append(dftrain.loc[i])
X = np.array(X)
X.shape

(88799, 784)

In [ ]:
y = np.array(df['23'])
y = y.reshape(88799,1)
y.shape

(88799, 1)

In [ ]:
x =[]
for i in range(14799):
  x.append(df1.loc[i])
x = np.array(x)
ytest = np.array(dftest['1'])

In [ ]:
out = []
for x_row in x:
  output = KNN(X,y,x_row,1)
  out.append(output)
out = np.array(out)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

In [ ]:
outs = pd.DataFrame(out)
outs

        0
0       1
1       1
2      17
3      18
4      14
...    ..
14794  19
14795  19
14796  15
14797  19
14798   1

[14799 rows x 1 columns]

In [ ]:
correct = 0
for i in range(x.shape[0]):
  if out[i] == ytest[i]:
    correct += 1

In [ ]:
(correct/14799)*100

55.74025271977836